.createpage
{
    padding: 3em 5em;
    background-color:#2B2C30;
    min-height:90vh;
    color: #EAE6DD;
}
h3{
    padding-top: 20px;
}
.createpage .upload-button
{
    margin-top: 2.5em;
}
.upload-button{
    color: #EAE6DD !important;
    border-color: #EAE6DD !important;
}
.publish-btn Button
{
    color: #3E4B54 !important;
    background-color: #F5F6FA;
    
}