@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-page {
  background-color: var(--secondary-color) ;
  min-height: 100vh; /* Ensure it covers the entire viewport height */
  color: var(--primary-text-color);
  
}
.tabs
{
  color: white;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
::-webkit-textfield-decoration-container{
  background-color: rgb(228, 35, 35);
  color: red !important;
}