:root {
    --background-color: #F5F6FA;
    --primary-text-color: #3E4B54;
    --accent-color: #F29A8B   ;
    --secondary-color: #A7BEC8;
    --neutral-color: #F1E1C6;
    --highlight-color: #FFD166;
    --border-color: #8E4552;
    --card-color: rgba(1, 2, 9, 0.3);
  }
  
  /* Dark mode colors */
  .dark-mode {
    --background-color: #2B2C30;
    --primary-text-color: #EAE6DD;
    --accent-color: #D96D65;
    --secondary-color: #6A8D92;
    --neutral-color: #3E3F44;
    --highlight-color: #E1B342;
    --border-color: #5C2A35;
  }
  
  /* Apply these variables globally */
  body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
  }

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


.App
{
    /* background-color: rgb(6, 17, 13); */
    /* color: #b99067; */
    
    
}
.blog-list
{
  list-style:none;
  gap:1em;
  
}
.css-y3wq9a
{
  padding: 0 !important;
}
.css-13i4rnv-MuiGrid-root
{
  
}
.css-zow5z4-MuiGrid-root
{
  justify-content: center;
}
